extends ./layout/layout.pug

block meta
	title Знакомство с программой iikoKitchen

block content
	.entry-container
		.container
			article.entry
				header.entry-header
					h1.entry-title Знакомство с программой iikoKitchen
				.entry-content
					h2 1. Краткий обзор
					p Модуль iikoKitchen предназначен для автоматизации работы заведующего производством или старшего повара на кухне предприятий общественного (в т.ч. быстрого) питания. Интерфейс модуля адаптирован для использования на терминалах с технологией Touch-screen и может использоваться без клавиатуры и мыши.
					h3 iikoKitchen
					p
						b 1. Обратная связь повара с официантом с помощью штрих-кодов по следующему сценарию:
					ul
						li на марке, печатаемой на кухонном принтере, выводится штрих-код блюда
						li по готовности блюда, повар сканирует марку с помощью сканера штрих-кодов
						li в iikoFront выводится сообщение о готовности блюда для официанта
					p
						b 2. Учет движения товаров через iikoFront
					p Шеф-повар может учитывать перемещение блюд с кухни на раздачу непосредственно через POS-терминал, установленный на кухне. При этих операциях формируются необходимые складские документы - накладные внутреннего перемещения и акты приготовления. Это позволяет полностью отказаться от заборных листов на кухне.
					figure
						img(
							src='t/22.jpg',
							alt
						)
					h2.h1 2 Концепция
					h3 2.1 Авто стоп-лист
					p Модуль iikoKitchen позволяет претворить в жизнь концепцию «автоматического стоп листа». Идея состоит в том, что в зале официанты могут получать оперативную информацию о наличии или возможности приготовить то или иное блюдо.
					p
						b Сценарий концепции следующий:
					ul
						li официант выбирает блюдо на станции официанта
						li система рассчитывает или берет заранее рассчитанные данные о наличии выбранного блюда на соответствующем складе, или о достаточном наличии соответствующих ингредиентов для приготовления этого блюда
						li официант получает справочную информацию о возможности приготовить выбранное блюдо. В случае критического уровня запасов необходимых товаров он может уточнить о возможности приготовления такого блюда на кухне (лично или с помощью посылки запроса через терминал)
						li официант выбирает блюдо и отправляет его в заказ на производство
						li заказ появляется на кухонном терминале в экране работы с заказами
						li шеф-повар, или любой другой от его имени выбирает появившийся заказ и назначает его одному из поваров
						li официанту поступает информация о начале приготовления
						li заказ попадает в раздел назначенных заказов для выбранного повара
						li повар выполняет заказ и отмечает выполнение на терминале
						li официанту поступает информация о выполненном (частично или полностью) заказе
						li информация о времени пробития заказа, назначения его повару и выполнения сохраняется в системе для дальнейшего анализа
					p Таким образом официанту в зале предоставляется оперативная информация о возможности выполнения заказа и его статусе.
					p Кроме того, контроль за складскими остатками выполняется с точки зрения их использования в реально востребованных блюдах. Таким образом за самыми ходовыми товарами будет более тщательный контроль (контроль остатков, правильности закладки в ТТК, своевременности приходов).
					p Для анализа также собирается информация о количестве выполненных заказов каждым из поваров и временем исполнения заказов. Такая информация может быть использована для контроля и мотивации кухонного персонала.
					p.entry-important
						a.btn-primary.btn(href='/')
							span.ico._btn-ico-qa
							span.btn-text Заказать бесплатную консультацию
					figure
						img(
							src='t/23.jpg',
							alt
						)
					h3 2.2 АРМ заведующего производством
					p Второе по значимости назначение модуля iikoKitchen – автоматизированное рабочее место заведующего производством (шеф-повара, старшего повара, кладовщика).
					p
						b Модуль позволяет осуществлять складские операции с экрана кухонного терминала:
					ul
						li Регистрировать приходную накладную
						li Осуществлять внутреннее перемещение
						li Создавать акты приготовления и акты переработки
						li Проводить инвентаризацию
						li Составлять заказы на закупку товаров и отправлять их закупщику или в головную организацию (через передачу в Chain).
						li Выводить на экран или на сервис принтер ТТК выбранного блюда.
						li Управлять расписаниями и явками кухонного персонала
					h3 3. Доступ
					p Доступ к функциональности iikoKitchen осуществляется аналогично доступу к iikoFront [ссылка] – через «Экран входа в систему/блокировки».
					p Разрешение на вход получают только те сотрудники, которым назначено право «Вход в iikoKitchen» [добавить в список прав]. Такое право должно быть предустановленно у менеджера и повара.
					h3 4. Дополнительное меню
					p После успешной авторизации открывается экран Дополнительного меню, аналогичный iikoFront, но имеющий несколько иные разделы.
					p.entry-important
						a.btn-primary.btn(href='/')
							span.ico._btn-ico-qa
							span.btn-text Заказать бесплатную консультацию

	.widget._nomargin._gray
		.container-inner.container
			h2.widget-title._primary Другие статьи
			.knowledge-article-list.row
				- var articleList = [{'thumb': '62.jpg', 'title': 'Позиционирование на рынке наиболее полно изменяет имидж предприятия', 'excerpt': 'План размещения не так уж очевиден. Представляется логичным, что продвижение проекта амбивалентно. Соц-дем характеристика аудитории позиционирует эмпирический критерий сходимости'}, {'thumb': '63.jpg', 'title': 'Стоит отметить, что дифференциальное уравнение', 'excerpt': 'Решительно транслирует положительный график функции, откуда следует доказываемое равенство. Искусство медиапланирования уравновешивает связанный экстремум функции'}, {'thumb': '64.jpg', 'title': 'В соответствии с законом больших чисел, медиаплан', 'excerpt': 'Продуцирует экспериментальный нестандартный подход, откуда следует доказываемое равенство. Разрыв функции основан на анализе телесмотрения.'}];
				each articleListItem in articleList
					a.knowledge-article-item.col-md-4(href='/')
						figure.knowledge-article-item-thumb
							img.img-block.img-fluid(
								src='t/'+ articleListItem.thumb,
								alt=''
							)
						span.knowledge-article-item-title!= articleListItem.title
						span.knowledge-article-item-meta 28 августа 2019 &mdash; Артем Кошкаровский
						span.knowledge-article-item-excerpt!= articleListItem.excerpt
			.knowledge-article-list-all.d-flex.justify-content-center
				a.btn-secondary.btn-wide.btn(href='/') Смотреть все статьи